<div class="row">
  <h1 translate lib="web">auditlogs</h1>
  <p class="col-md-5 lead"></p>
  <div class="form-group col-sm-3 form-horizontal">
    <label class="sr-only">Filter</label>
    <div class="input-group unframed-addons">
      <div class="input-group-addon"><i class="fas fa-search"></i></div>
      <input ng-model="ctrl.searchstring" ng-change="ctrl.Search()" class="form-control input-md"
        ng-model-options="{debounce: 400}" />
    </div>
  </div>
</div>
<div class="col-sm-12 text-right">
</div>
<style>
  .failed {
    border-color: red;
    border: width 2;
    border-style: solid
  }
</style>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th ng-click="ctrl.ToggleOrder('name')"><b translate lib="web">name</b></th>
      <th ng-click="ctrl.ToggleOrder('type')"><b translate lib="web">type</b></th>
      <th ng-click="ctrl.ToggleOrder('impostorname')"><b translate lib="web">impostorname</b></th>
      <th ng-click="ctrl.ToggleOrder('clientagent')"><b translate lib="web">clientagent</b></th>
      <th ng-click="ctrl.ToggleOrder('clientversion')"><b translate lib="web">clientversion</b></th>
      <th ng-click="ctrl.ToggleOrder('remoteip')"><b translate lib="web">ipaddress</b></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_created')"><b translate lib="web">created</b></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models" ng-class="{failed: model.success == false}">
      <td>
        <!-- <i class="fas fa-robot" ng-show="model.clientagent=='openrpa'"></i>
        <i class="fas fa-globe" ng-show="model.clientagent=='webapp' || model.clientagent=='browser'"></i>
        <i class="fas fa-mobile-alt" ng-show="model.clientagent=='mobileapp'"></i>
        <i class="fab fa-node-js" ng-show="model.clientagent=='nodered' || model.clientagent=='getUserFromRequest'"></i>
        <i class="fab fa-google" ng-show="model.clientagent=='googleverify'"></i>
        <i class="fab fa-windows" ng-show="model.clientagent=='samlverify'"></i>
        <i class="far fa-question-circle" ng-show="model.clientagent=='' || model.clientagent==null"></i>

        <i class="fas fa-user-secret" ng-show="model.impostorname!='' && model.impostorname!=null"> -->
        <i ng-class="model.fa">
          <i ng-class="model.fa2">

      </td>
      <td class="btn-cell"><a href ng-click="ctrl.ShowAudit(model)" class="table-btn">{{model.name}}</a></td>
      <td>{{model.type}}</td>
      <td>{{model.impostorname}}</td>
      <td>{{model.clientagent || model.imagename}}</td>
      <td>{{model.clientversion || model.imageversion}}</td>
      <td>{{model.remoteip}}</td>
      <td>
        <timesince ng-model="model._created" />
      </td>
    </tr>
  </tbody>
</table>



<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ctrl.model.name}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>success</td>
            <td>{{ctrl.model.success}}</td>
          </tr>
          <tr>
            <td>type</td>
            <td>{{ctrl.model.type}}</td>
          </tr>
          <tr>
            <td>provider</td>
            <td>{{ctrl.model.provider}}</td>
          </tr>
          <tr>
            <td>userid</td>
            <td>{{ctrl.model.userid}}</td>
          </tr>
          <tr>
            <td>username</td>
            <td>{{ctrl.model.username}}</td>
          </tr>
          <tr>
            <td>remoteip</td>
            <td>{{ctrl.model.remoteip}}</td>
          </tr>
          <tr>
            <td>impostoruserid</td>
            <td>{{ctrl.model.impostoruserid}}</td>
          </tr>
          <tr>
            <td>impostorname</td>
            <td>{{ctrl.model.impostorname}}</td>
          </tr>
          <tr>
            <td>impostorusername</td>
            <td>{{ctrl.model.impostorusername}}</td>
          </tr>
          <tr>
            <td>clientagent</td>
            <td>{{ctrl.model.clientagent}}</td>
          </tr>
          <tr>
            <td>clientversion</td>
            <td>{{ctrl.model.clientversion}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>