<div class="row">
  <h1 translate lib="web">robots</h1>
  <p class="col-md-5 lead"></p>
  <div class="form-group col-sm-3 form-horizontal">
    <label class="sr-only">Filter</label>
    <div class="input-group unframed-addons">
      <div class="input-group-addon"><i class="fas fa-search"></i></div>
      <input ng-model="ctrl.searchstring" ng-change="ctrl.Search()" class="form-control input-md"
        ng-model-options="{debounce: 400}" />
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
  </div>
  <div class=" col-md-6 text-right">
    <input type="checkbox" ng-model="ctrl.showinactive" ng-change="ctrl.loadData()"> <span translate lib="web"
      ng-click="ctrl.showinactive = !ctrl.showinactive; ctrl.loadData()">showinactive</span>
    <input type="radio" name="show" value="openrpa" ng-model="ctrl.show" ng-change="ctrl.loadData()"> <span translate
      lib="web" ng-click="ctrl.show = 'openrpa'; ctrl.loadData()">openrpa</span>
    <input type="radio" name="show" value="nodered" ng-model="ctrl.show" ng-change="ctrl.loadData()"> <span translate
      lib="web" ng-click="ctrl.show = 'nodered'; ctrl.loadData()">nodered</span>
    <input type="radio" name="show" value="webapp" ng-model="ctrl.show" ng-change="ctrl.loadData()"> <span translate
      lib="web" ng-click="ctrl.show = 'webapp'; ctrl.loadData()">web</span>
    <input type="radio" name="show" value="all" ng-model="ctrl.show" ng-change="ctrl.loadData()"> <span translate
      lib="web" ng-click="ctrl.show = 'all'; ctrl.loadData()">showall</span>
  </div>
</div>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<table id="table1" class="table table-striped table-hover table-sm" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th scope="col" ng-click="ctrl.ToggleOrder('name')"><b translate lib="web">name</b></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_rpaheartbeat')"><b translate lib="web">robot</b></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_noderedheartbeat')"><b translate lib="web">nodered</b></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_webheartbeat')"><b translate lib="web">web</b></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_lastopenrpaclientversion')"><b translate
          lib="web">lastclientversion</b>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td>{{model.name}}</td>
      <td>
        <timesince ng-model="model._rpaheartbeat" />
      </td>
      <td>
        <timesince ng-model="model._noderedheartbeat" />
      </td>
      <td>
        <timesince ng-model="model._webheartbeat" />
      </td>
      <td>
        <div ng-show="ctrl.show == 'openrpa'">{{model._lastopenrpaclientversion}}</div>
        <div ng-show="ctrl.show == 'nodered'">{{model._lastnoderedclientversion}}</div>
        <div ng-show="ctrl.show == 'webapp'">{{model._lastwebappclientversion}}</div>
        <div ng-show="ctrl.show == 'all'">{{model._lastclientversion}}</div>
      </td>
      <td class="btn-cell">
        <a href ng-click="ctrl.ShowWorkflows(model)" class="table-btn">workflows</a>
      </td>
      <td class="btn-cell">
        <a ng-href ng-click="ctrl.Impersonate(model)" ng-show="model._id != ctrl.WebSocketClientService.user._id"><i
            class="fas fa-user-secret" style="color: #007bff;"></i></a>
      </td>
      <td class="btn-cell">
        <a href ng-click="ctrl.OpenNodered(model)" ng-show="model.hasnodered==true" class="table-btn"><i
            class="fas fa-project-diagram"></i></a>
      </td>
      <td class="btn-cell">
        <a ng-href="#/Payment/{{model._id}}" class="table-btn"
          ng-show="menuctrl.WebSocketClientService.stripe_api_key != '' && menuctrl.hasrole('admins') && model._hasbilling == true"><i
            class="fas fa-money-bill-wave"></i></a>
      </td>
      <td class="btn-cell">
        <a ng-href="#/Nodered/{{model._id}}" class="table-btn"
          ng-show="menuctrl.WebSocketClientService.allow_personal_nodered == true"><i class="fas fa-tools"></i></a>
      </td>
      <td class="btn-cell">
        <a ng-href="#/Entity/{{ctrl.collection}}/{{model._id}}" class="table-btn"><i class="az-edit"></i></a>
      </td>
    </tr>
  </tbody>
</table>