<div class="row">
    <div class="col-sm-7">
        <h1 class="pagetitle" translate lib="web">customer</h1>
    </div>
</div>

<div class="row"
    ng-show="ctrl.WebSocketClientService.customer == null && menuctrl.WebSocketClientService.stripe_api_key && menuctrl.WebSocketClientService.stripe_api_key != ''">
    <div class="col-sm-7">
        To enable multitenancy you need to fill out the form below.<br>
        To allow purchase options TAX/VAT is mandatory<br>
    </div>
</div>
<div class="row"
    ng-show="ctrl.WebSocketClientService.customer != null && menuctrl.WebSocketClientService.stripe_api_key && menuctrl.WebSocketClientService.stripe_api_key != '' && (ctrl.WebSocketClientService.customer.stripeid == '' || ctrl.WebSocketClientService.customer.stripeid == null) ">
    <div class="col-sm-7">
        To allow purchase a valid TAX/VAT number is mandatory<br><br>
    </div>
</div>

<pre ng-show="ErrorMessage!=null">{{ ErrorMessage }}</pre>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<form ng-submit="ctrl.submit()" class="form-horizontal" role="form" autocomplete="off">

    <div class="form-row row-eq-spacing-sm">
        <div class="col-sm">
            <label for="name" class="required">company name</label>
            <input type="text" class="form-control" id="name" placeholder="Company name" required="required"
                ng-model="ctrl.model.name" ng-disabled="ctrl.loading==true">
        </div>
        <div class="col-sm">
            <label for="country" class="required">country</label>
            <select class="form-control" id="country" ng-model="ctrl.model.country" required="required"
                ng-disabled="ctrl.loading==true" ng-change="ctrl.CountryUpdate()">
                <option value="" selected>(please select a country)</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BA">Bosnia and Herzegowina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, the Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Cote d'Ivoire</option>
                <option value="HR">Croatia (Hrvatska)</option>
                <option value="CU">Cuba</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="TP">East Timor</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="FX">France, Metropolitan</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard and Mc Donald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran (Islamic Republic of)</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">Korea, Democratic People's Republic of</option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libyan Arab Jamahiriya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macau</option>
                <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="AN">Netherlands Antilles</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint LUCIA</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SK">Slovakia (Slovak Republic)</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SH">St. Helena</option>
                <option value="PM">St. Pierre and Miquelon</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen Islands</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands (British)</option>
                <option value="VI">Virgin Islands (U.S.)</option>
                <option value="WF">Wallis and Futuna Islands</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="YU">Yugoslavia</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>

        </div>
    </div>
    <div class="form-row row-eq-spacing-sm">
        <div class="col-sm">
            <label for="vattype" class="required">vat type</label>
            <select class="form-control" id="vattype" ng-model="ctrl.model.vattype" required="required"
                ng-disabled="ctrl.loading==true">
                <option value="au_abn">Australian Business Number (AU ABN)</option>
                <option value="br_cnpj">Brazilian CNPJ number</option>
                <option value="br_cpf">Brazilian CPF number</option>
                <option value="ca_bn">Canadian BN</option>
                <option value="ca_qst">Canadian QST number</option>
                <option value="es_cif">Spanish CIF number</option>
                <option value="eu_vat">EU VAT number</option>
                <option value="hk_br">Hong Kong BR number</option>
                <option value="in_gst">Indian GST number</option>
                <option value="jp_cn">Japanese Corporate Number</option>
                <option value="kr_brn">Korean BRN</option>
                <option value="li_uid">Liechtensteinian UID number</option>
                <option value="mx_rfc">Mexican RFC number</option>
                <option value="my_itn">Malaysian ITN</option>
                <option value="my_sst">Malaysian SST number</option>
                <option value="no_vat">Norwegian VAT number</option>
                <option value="nz_gst">New Zealand GST number</option>
                <option value="ru_inn">Russian INN</option>
                <option value="sg_gst">Singaporean GST</option>
                <option value="sg_uen">Singaporean UEN</option>
                <option value="th_vat">Thai VAT</option>
                <option value="tw_vat">Taiwanese VAT</option>
                <option value="us_ein">United States EIN</option>
                <option value="za_vat">South African VAT number</option>
            </select>
        </div>
        <div class="col-sm">
            <label for="vatnumber" class="required">TAX/VAT ID</label>
            <input type="text" class="form-control" id="vatnumber" ng-model="ctrl.model.vatnumber"
                placeholder="TAX or VAT number" ng-disabled="ctrl.loading==true">
        </div>
    </div>

    <div class="form-row row-eq-spacing-sm">
        <div class="col-sm">
            <label for="email" class="required">billing email</label>
            <input type="text" class="form-control" id="email" ng-model="ctrl.model.email" placeholder="Billing email"
                required="required" ng-disabled="ctrl.loading==true">
        </div>
        <div class="col-sm">
            <br> <button type="submit" ng-disabled="ctrl.loading==true" class="btn btn-success" translate lib="web">
                Save</button>

            <button ng-click="ctrl.AddHours(support)" ng-repeat="support in ctrl.support"
                ng-disabled="ctrl.loading==true" ng-show="menuctrl.hasrole('admins') && ctrl.loading==false"
                class="btn btn-secondary" translate lib="web">
                Add hours({{ support.product.name }})</button>
        </div>
    </div>

    <div class="form-row row-eq-spacing-sm"
        ng-show="ctrl.model.stripeid && ctrl.model.stripeid != '' && (menuctrl.hasrole('admins') || menuctrl.hasrole('customer admins'))">
        <div class="col-sm">
            <label for="vatnumber">billing portal</label>
            <button type="button" ng-click="ctrl.OpenPortal()" ng-disabled="ctrl.loading==true" class="btn btn-success"
                translate lib="web">Portal</button>
        </div>
        <div class="col-sm">
            <label for="vatnumber">Next Invoice</label>
            <button type="button" ng-click="ctrl.NextInvoice()" ng-disabled="ctrl.loading==true" class="btn btn-success"
                translate lib="web">Next Invoice</button>
        </div>

    </div>

</form>

<div ng-show="!ctrl.model.stripeid || ctrl.model.stripeid == ''">
    Current database usage:
    <format-bytes ng-model="ctrl.model.dbusage" ng-show="ctrl.model.dbusage" />
    <format-bytes ng-model="WebSocketClientService.user.dbusage" ng-show="!ctrl.model.dbusage" />
</div>
<div class="row"
    ng-show="ctrl.WebSocketClientService.customer != null && menuctrl.WebSocketClientService.stripe_api_key && menuctrl.WebSocketClientService.stripe_api_key != '' && (ctrl.WebSocketClientService.customer.stripeid != '' && ctrl.WebSocketClientService.customer.stripeid != null) ">
    <div class="col-sm-7">
        <h4>Buy/manage company plans</h4><br><br>
    </div>
</div>
<div ng-repeat="Resource in ctrl.Resources | orderBy: 'order'" ng-show="ctrl.model.stripeid">
    <div class="row" ng-repeat="Product in Resource.products | orderBy: 'order'"
        ng-show="Resource.customerassign == 'multiplevariants'">
        <div class="col">{{Product.name}}</div>
        <div class="col">{{ Product.count }}</div>

        <div class="col">

            <a href ng-click="ctrl.AddPlan(Resource, Product)" class="btn" role="button"
                ng-disabled="ctrl.loading==true" ng-show="Product.count == 0 || Product.customerassign == 'multiple'">
                <em class="fas fa-money-bill-wave"></em></a>
            <a href ng-click="ctrl.RemovePlan(Resource, Product)" class="btn" role="button" ng-show="Product.count > 0"
                ng-disabled="ctrl.loading==true">
                <em class="fas fa-trash"></em></a>

        </div>
    </div>
    <div class="row" ng-show="Resource.customerassign == 'singlevariant'">
        <div class="col">
            {{Resource.name}} :
            <format-bytes ng-model="ctrl.model.dbusage" ng-show="Resource.name == 'Database Usage'" />
        </div>

        <div class="col">
            <select ng-model="Resource.newproduct"
                ng-options="item as item.name for item in Resource.products | orderBy: 'order'"
                ng-disabled="ctrl.loading==true">
            </select>
        </div>
        <div class="col">
            {{Resource.newproduct.count}}
            <span ng-show="Resource.name == 'Database Usage' && Resource.newproduct.customerassign == 'metered'"> /
                aprox: {{Resource.newproduct.packagecount}}</span>
        </div>
        <div class="col">
            <a href ng-click="ctrl.AddPlan(Resource, Resource.newproduct)" class="btn" role="button"
                ng-show="(Resource.newproduct.count == 0 || Resource.newproduct.customerassign == 'multiple') && ctrl.loading==false">
                <em class="fas fa-money-bill-wave"></em></a>
            <em class="fas fa-money-bill-wave disabled btn"
                ng-show="(Resource.newproduct.count > 0 && Resource.newproduct.customerassign != 'multiple') || Resource.newproduct == null || ctrl.loading==true"></em>
            <a href ng-click="ctrl.RemovePlan(Resource, Resource.newproduct)" class="btn" role="button"
                ng-show="Resource.newproduct.count > 0 && ctrl.loading==false">
                <em class="fas fa-trash"></em></a>
            <em class="fas fa-trash disabled btn"
                ng-show="(Resource.newproduct.count == 0) || Resource.newproduct == null || ctrl.loading==true"></em>

        </div>
    </div>
</div>


<div class="row"
    ng-show="ctrl.WebSocketClientService.customer != null && menuctrl.WebSocketClientService.stripe_api_key && menuctrl.WebSocketClientService.stripe_api_key != '' && (ctrl.WebSocketClientService.customer.stripeid != '' && ctrl.WebSocketClientService.customer.stripeid != null) ">
    <div class="col-sm-7">
        <h4>Buy/manage user plans <a href="#/Users">here</a></h4><br><br>

    </div>
</div>


<div ng-repeat="Resource in ctrl.UserResources | orderBy: 'order'" ng-show="ctrl.model.stripeid">
    <h4>{{Resource.name}}</h4>
    <div class="row" ng-repeat="Product in Resource.products | orderBy: 'order'" ng-show="Product.count > 0">
        <div class="col">{{Product.name}}</div>
        <div class="col">{{ Product.count }}</div>
    </div>
</div>




<div class="modal modal-full" id="NextInvoiceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <h5 class="modal-title" ng-show="!ctrl.proration">Next Invoice for
                {{ctrl.WebSocketClientService.customer.name}}</h5>
            <h5 class="modal-title" ng-show="ctrl.proration">Accept next Invoice for
                {{ctrl.WebSocketClientService.customer.name}}</h5>
            <h6>{{ ctrl.period_start }} to {{ ctrl.period_end }}</h6>
            <p>
            <div class="row" ng-repeat="line in ctrl.nextinvoice.lines.data">
                <div class="col">{{line.description}}</div>
                <div class="col">{{ line.quantity }}</div>
                <div class="col">{{ line.amount / 100 }} {{ line.currency }}</div>
            </div>
            <hr
                ng-show="(ctrl.nextinvoice.tax && ctrl.nextinvoice.tax > 0) || (ctrl.nextinvoice.total_discount_amounts && ctrl.nextinvoice.total_discount_amounts.length > 0)">
            <div class="row" ng-repeat="item in ctrl.nextinvoice.total_discount_amounts">
                <div class="col">Discount</div>
                <div class="col"></div>
                <div class="col">{{ item.amount / 100 }} {{ ctrl.nextinvoice.currency }}</div>
            </div>
            <div class="row" ng-show="ctrl.nextinvoice.tax && ctrl.nextinvoice.tax > 0">
                <div class="col">Tax</div>
                <div class="col"></div>
                <div class="col">{{ ctrl.nextinvoice.tax / 100 }} {{ ctrl.nextinvoice.currency }}</div>
            </div>
            <hr>
            <div class="row">
                <div class="col">Total</div>
                <div class="col"></div>
                <div class="col">{{ ctrl.nextinvoice.amount_due / 100 }} {{ ctrl.nextinvoice.currency }}</div>
            </div>
            </p>
            <div class="text-right mt-20">

                <a href ng-show="ctrl.proration" class="btn mr-5 btn-success" role="button"
                    ng-click="ctrl.AddPlan2()">Accept</a>
                <a href class="btn mr-5" role="button" ng-click="ctrl.ToggleNextInvoiceModal()">Close</a>
            </div>
        </div>
    </div>
</div>