<div class="row">
    <div class="col-sm-20">
        <h1 class="pagetitle" translate lib="web">emailhistdetails</h1>
    </div>
</div>
<style type="text/css">
    .list-group-item:hover {
        color: #337ab7;
        text-shadow: 0 0 1em #337ab7;
        cursor: pointer;
    }

    .listgroupitemselected {
        border: 6px;
        border-color: black;
        background-color: #337ab7;
        color: white;
        cursor: pointer;
    }
</style>

<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<form ng-submit="ctrl.submit()" class="form-horizontal" role="form" autocomplete="off">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate lib="web">name</label>
        <div class="col-sm-6">
            <input ng-model="ctrl.model.name" class="form-control input-md" ng-disabled="ctrl.loading==true" />
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate lib="web">read</label>
        <div class="col-sm-6">
            <div class="custom-switch">
                <input type="checkbox" id="rparole" ng-model="ctrl.model.read">
                <label for="read">read</label>
            </div>
        </div>
    </div>
    <div class="form-inline" ng-repeat="m in ctrl.model.opened">
        <label class="col-sm-1 control-label"><timesince ng-model="m.dt" /></label>
        <div class="col-sm-3">
            {{m.ip}} / {{m.domain}}
        </div>
        <div class="col-sm-7">
            {{m.agent}}
        </div>
    </div>


</form>