<div class="row">
  <h1 translate lib="web">sitename</h1>
  <p class="col-md-7 lead"></p>

  <div class="form-group col-sm-3 form-horizontal">
    <label class="sr-only">Filter</label>
    <div class="input-group unframed-addons">
      <div class="input-group-addon"><i class="fas fa-search"></i></div>
      <input ng-model="ctrl.searchstring" ng-change="ctrl.Search()" class="form-control input-md"
        ng-model-options="{debounce: 400}" />
    </div>
  </div>
</div>


<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th><b translate lib="web">createdby</b></th>
      <th><b translate lib="web">name</b></th>
      <th><b translate lib="web">created</b></th>
      <th><b translate lib="web">updated</b></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td>{{model._createdby}}</td>
      <td>{{model.name}}</td>
      <td>
        <timesince ng-model="model._created" />
      </td>
      <td>
        <timesince ng-model="model._modified" />
      </td>
      <td class="btn-cell">
        <a ng-href="#/Form/{{model.workflow}}/{{model._id}}" ng-disabled="ctrl.loading==true" translate
          lib="web">open</a>
      </td>
    </tr>
  </tbody>
</table>