<div class="starter-template">
  <h1 translate lib="web">nodered</h1>
</div>

<form class="form-horizontal" role="form" autocomplete="off" ng-hide="ctrl.showjson==true">
  <section>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-secondary" ng-click="ctrl.GetNoderedInstance()">Reload</button>
        <button type="button" class="btn btn-secondary" ng-click="ctrl.EnsureNoderedInstance()"
          ng-show="ctrl.instance==null || ctrl.instancestatus == 'pending deletion (Running)' ">Create Nodered </button>
        <button type="button" class="btn btn-secondary" ng-click="ctrl.EnsureNoderedInstance()"
          ng-show="ctrl.instance!=null && ctrl.instancestatus != 'pending deletion (Running)' ">Ensure Nodered </button>
        <button type="button" class="btn btn-secondary" ng-click="ctrl.RestartNoderedInstance()"
          ng-show="ctrl.instance!=null && ctrl.instancestatus != 'pending deletion (Running)' && ctrl.instancestatus != 'Pending'">Restart
          Nodered</button>
        <button type="button" class="btn btn-secondary" ng-click="ctrl.DeleteNoderedInstance()"
          ng-show="ctrl.instance!=null && ctrl.instancestatus != 'pending deletion (Running)' ">Delete Nodered</button>
        <!-- <button type="button" class="btn btn-secondary"
          ng-show="ctrl.instance!=null && ctrl.instancestatus != 'pending deletion (Running)' && ctrl.instancestatus != 'Pending'"
          ng-click="ctrl.GetNoderedInstanceLog()">Get Console</button> -->

        <a ng-href="{{ctrl.noderedurl}}" class="btn btn-danger" target="nodered" ng-show="ctrl.instance!=null">Open
          Nodered</a>
      </div>
    </div>
  </section>
</form>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<section>
  <div ng-repeat="instance in ctrl.instances"
    ng-class="{alert: true, 'alert-primary': instance.status.phase != 'Failed', 'alert-danger': instance.status.phase == 'Failed'}">
    <div class="row">
      <label class="col-sm-1 control-label"><span translate lib="web">name</span>: </label>
      <div class="col">
        <span ng-show="ctrl.instance!=null">{{ instance.metadata.name }}</span>
      </div>
      <label class="col-sm-1 control-label"><span translate lib="web">cpu</span>: </label>
      <div class="col-sm-1">
        <span
          ng-show="ctrl.instance!=null">{{ instance.metrics.cpu + "/" + instance.spec.containers[0].resources.limits.cpu }}</span>
      </div>
      <label class="col-sm-1 control-label"><span translate lib="web">mem</span>: </label>
      <div class="col-sm-1">
        <span
          ng-show="ctrl.instance!=null">{{ instance.metrics.memory + "/" + instance.spec.containers[0].resources.limits.memory }}</span>
      </div>
      <label class="col-sm-1 control-label"><span translate lib="web">status</span>: </label>
      <div class="col-sm-1">
        <span
          ng-show="ctrl.instance!=null">{{ (this.instance.metadata.deletionTimestamp != null ? " deleting" : instance.status.phase) }}</span>
      </div>
      <label class="col-sm-1 control-label"><span translate lib="web">created</span>: </label>
      <div class="col-sm-1">
        <span ng-show="ctrl.instance!=null">
          <timesince ng-model="instance.metadata.creationTimestamp" /></span>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-1 control-label"><span translate lib="web">image</span>: </label>
      <div class="col">
        <span ng-show="ctrl.instance!=null">{{ instance.spec.containers[0].image }}</span>
      </div>
      <div class="col" ng-show="instance.status.phase == 'Failed' || instance.status.phase == 'Running'">
        <button type="button" class="btn btn-sm btn-secondary" ng-show="instance.status.phase == 'Running'"
          ng-click="ctrl.GetNoderedInstanceLog(instance.metadata.name)">Logs</button>
        <button type="button" class="btn btn-sm btn-secondary" ng-click="ctrl.DeleteNoderedPod(instance.metadata.name)"
          ng-show="instance.status.phase == 'Failed' || instance.status.phase == 'Running'">Delete</button>
      </div>
    </div>
    <div class="row" ng-show="instance.status.phase == 'Failed'">
      <span>{{ instance.status.message }}</span>
    </div>
  </div>

</section>
<section ng-show="ctrl.instancelog!=''">
  <div class="form-group">
    <label class="col-sm-3 control-label"><span translate lib="web">console</span>: </label>
    <div class="col-sm-9">
      <pre>{{ ctrl.instancelog }}</pre>
    </div>
  </div>
</section>
<div ng-show="ctrl.messages != ''"" class=" alert alert-primary" role="alert">
  <pre>{{ctrl.messages}}</pre>
</div>
<section>
  <div class="row">
    <label class="col-sm-4 control-label"><span translate lib="web">api_allow_anonymous</span>: </label>
    <div class="col-sm-1">
      <input type="checkbox" class='form-control' ng-model="ctrl.user.nodered.api_allow_anonymous"></input>
    </div>
  </div>
</section>
<section>
  <div class="form-group" ng-show="menuctrl.hasrole('admins') && menuctrl.WebSocketClientService.stripe_api_key == ''">
    <label class="col-sm-3 control-label"><span translate lib="web">memory</span>: </label>
    <div class="col-sm-9">
      <select class="form-control" ng-model="ctrl.limitsmemory">
        <option value="">Fair usage</option>
        <option value="256Mi">256Mi</option>
        <option value="512Mi">512Mi</option>
        <option value="1Gi">1Gi</option>
        <option value="1536Mi">1,5Gi</option>
        <option value="2Gi">2Gi</option>
        <option value="2560Mi">5,5Gi</option>
        <option value="3Gi">3Gi</option>
      </select>
    </div>
  </div>
</section>
<section>
  <div class="form-group" ng-show="menuctrl.hasrole('admins') && ctrl.labels && ctrl.keys && ctrl.keys.length > 0">
    <label class="col-sm-3 control-label"><span translate lib="web">label</span>: </label>
    <div class="col-sm-15">
      <!-- <select class="form-control" ng-model="ctrl.label">
        <option value="">No label</option>
        <option ng-repeat="key in ctrl.keys">{{ '{"' + key + '":"' + ctrl.labels[key] + '"}'}}</option>
      </select> -->
      <span class="border mr-2" ng-repeat="key in ctrl.labelkeys"
        ng-click="ctrl.removekey(key)">{{key + '=' + ctrl.label[key]}}</span>
      <br>
      <select ng-model="ctrl.newkey" ng-options="item as item for item in ctrl.keys"
        ng-change="ctrl.newkeyselected()"></select>
      <select ng-model="ctrl.newvalue" ng-options="item as item for item in ctrl.labels[ctrl.newkey]"></select>
      <button type="button" ng-disabled="ctrl.loading==true" class="btn" translate lib="web"
        ng-click="ctrl.addkey()">add</button>
      <button type="button" ng-disabled="ctrl.loading==true" class="btn" translate lib="web"
        ng-click="ctrl.removekey()">remove</button>
    </div>
  </div>
</section>
<section>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="button" ng-disabled="ctrl.loading==true" class="btn btn-success" translate lib="web"
        ng-click="ctrl.save()">save</button>
    </div>
  </div>
</section>
<br />
<br />
<small ng-show="menuctrl.WebSocketClientService.stripe_api_key != ''"><i style="color: gray;">
    Free nodered instances will be shutdown after 24hours.
  </i></small>
<br />
<br />