<div class="row">
    <div class="col-sm-7">
        <h1 class="pagetitle" translate lib="web">oauthclient</h1>
    </div>
</div>

<pre ng-show="ErrorMessage!=null">{{ ErrorMessage }}</pre>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<form ng-submit="ctrl.submit()" class="form-horizontal" role="form" autocomplete="off">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate lib="web">name</label>
        <div class="col-sm-4">
            <input ng-model="ctrl.model.name" class="form-control input-md" ng-disabled="ctrl.loading==true" />
        </div>
    </div>
    <div class="form-group">
        <label for="clientId" class="col-sm-2 control-label" translate lib="web">clientId</label>
        <div class="col-sm-4">
            <input ng-model="ctrl.model.clientId" class="form-control input-md" ng-disabled="ctrl.loading==true" />
        </div>
    </div>
    <div class="form-group">
        <label for="clientSecret" class="col-sm-2 control-label" translate lib="web">clientSecret</label> <a href
            ng-click="ctrl.CopySecret('.secrettext')">copysecret</a>
        <div class="col-sm-4">
            <input type="password" ng-model="ctrl.model.clientSecret" class="form-control input-md secrettext"
                ng-disabled="ctrl.loading==true" id="clientSecret" copytext />

        </div>
    </div>
    <div class="form-group">
        <label for="grants" class="col-sm-2 control-label" translate lib="web">grants</label>
        <table style="width: 50%;" class="table table-striped">
            <tr ng-repeat="id in ctrl.model.grants">
                <td style="width: 15px;"></td>
                <td>{{ id }}</td>
                <td><a href="" ng-click="ctrl.deletefromarray('grants', id)" translate lib="web">delete</a></td>
            </tr>
        </table>
    </div>
    <div class="form-inline">
        <div class="mx-sm-3 mb-4">
            <input ng-model="newgranttype" type="text" class="form-control" placeholder="New grant type"
                autocomplete="new-password">
        </div>
        <button type="button" class="btn btn-success mb-2" ng-disabled="ctrl.loading==true"
            ng-click="ctrl.addtoarray('grants', newgranttype)" translate lib="web">addgrant</button>
    </div>


    <div class="form-group">
        <label for="redirectUris" class="col-sm-2 control-label" translate lib="web">redirecturis</label>
        <table style="width: 50%;" class="table table-striped">
            <tr ng-repeat="id in ctrl.model.redirectUris">
                <td style="width: 15px;"></td>
                <td>{{ id }}</td>
                <td><a href="" ng-click="ctrl.deletefromarray('redirectUris', id)" translate lib="web">delete</a></td>
            </tr>
        </table>
    </div>
    <div class="form-inline">
        <div class="mx-sm-3 mb-4">
            <input ng-model="newredirecturi" type="text" class="form-control" placeholder="New redirect Uri"
                autocomplete="new-password">
        </div>
        <button type="button" class="btn btn-success mb-2" ng-disabled="ctrl.loading==true"
            ng-click="ctrl.addtoarray('redirectUris', newredirecturi)" translate lib="web">addredirecturi</button>
    </div>



    <div class="form-group">
        <label for="defaultrole" class="col-sm-2 control-label" translate lib="web">defaultrole</label>
        <div class="col-sm-4">
            <input ng-model="ctrl.model.defaultrole" class="form-control input-md" ng-disabled="ctrl.loading==true" />
        </div>
    </div>

    <div class="form-group">
        <label for="rolemappings" class="col-sm-2 control-label" translate lib="web">rolemappings</label>
        <table style="width: 50%;" class="table table-striped">
            <tr ng-repeat="mapping in ctrl.model.rolemappings">
                <td style="width: 15px;"></td>
                <td>{{ mapping }}</td>
                <td>{{ ctrl.model.rolemappings[mapping] }}</td>
                <td><a href="" ng-click="ctrl.deletefromarray('rolemappings', id)" translate lib="web">delete</a></td>
            </tr>
        </table>
    </div>
    <div class="form-inline">
        <div class="mx-sm-3 mb-4">
            <input ng-model="newrolemappingname" type="text" class="form-control" placeholder="openflow role name"
                autocomplete="new-password">
            <input ng-model="newrolemappingvalue" type="text" class="form-control" placeholder="oauth role name"
                autocomplete="new-password">
        </div>
        <button type="button" class="btn btn-success mb-2" ng-disabled="ctrl.loading==true"
            ng-click="ctrl.addrolemapping(newrolemappingname, newrolemappingvalue)" translate
            lib="web">addrolemapping</button>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-disabled="ctrl.loading==true" class="btn btn-success" translate
                lib="web">Save</button>
        </div>
    </div>
</form>