<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Passive Login page for OpenFlow, used in robots or doing federated logins, learn more at https://github.com/open-rpa/openflow">
  <link rel="stylesheet" href="bundle.css">
  <title>Login</title>
  <script src="bundle.js"></script>
  <script src="angular-localization.min.js"></script>
</head>

<script>
  function getCookieValue(a) {
    const b = document.cookie.match('(^|[^;]+)\\s*' + a + '\\s*=\\s*([^;]+)');
    return b ? b.pop() : '';
  }
  function parse_query_string(query) {
    const vars = query.split("&");
    const query_string = {};
    for (let i = 0; i < vars.length; i++) {
      const pair = vars[i].split("=");
      const key = decodeURIComponent(pair[0]);
      const value = decodeURIComponent(pair[1]);
      // If first entry with this name
      if (typeof query_string[key] === "undefined") {
        query_string[key] = decodeURIComponent(value);
        // If second entry with this name
      } else if (typeof query_string[key] === "string") {
        const arr = [query_string[key], decodeURIComponent(value)];
        query_string[key] = arr;
        // If third or later entry with this name
      } else {
        query_string[key].push(decodeURIComponent(value));
      }
    }
    return query_string;
  }
  function getJSON(url, callback) {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.responseType = "json";
    xhr.onload = function () {
      const status = xhr.status;
      if (status === 200) {
        let data = xhr.response;
        if (typeof data === "string" || data instanceof String) {
          data = JSON.parse(data);
        }
        callback(null, data);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send();
  }
  function postJSON(url, data, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onload = function () {
      const status = xhr.status;
      if (status === 200) {
        let data = xhr.response;
        if (typeof data === "string" || data instanceof String) {
          data = JSON.parse(data);
        }
        callback(null, data);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send(JSON.stringify(data));
  }
  function loadScript(url, callback) {
    var script = document.createElement("script")
    script.type = "text/javascript";
    script.onload = function () {
      if (callback) callback();
    };
    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
  }

  function SettingsController2($scope, $http) {
    this.user = null;
    this.name = 'John Smith';
    this.message = '';
    // this.domain = "Donald duck";
    this.localenabled = false;
    this.domain = window.location.hostname;
    let cerror = getCookieValue("error");

    const query = window.location.search.substring(1);
    const qs = parse_query_string(query);
    cerror = qs.error;
    if (cerror !== null && cerror !== undefined && cerror != "") {
      this.message = "Unknown user or bad password";
    }
    this.process = function (error, data) {
      this.providers = data;
      for (let i = this.providers.length - 1; i >= 0; i--) {
        if (this.providers[i].provider == "local") {
          this.providers.splice(i, 1);
          this.localenabled = true;
        }
      }
      if (!$scope.$$phase) { $scope.$apply(); }
    };
    this.jwt = function (error, data) {
      if (this.user) {
        if (this.validate_user_form != "" && this.user.validated != true) {
          delete this.user.roles;
          if (!this.user.email && this.user.username) {
            if (this.user.username.indexOf("@") > -1) this.user.email = this.user.username;
          }
          loadScript("formio.full.min.js", () => {
            if (this.validate_user_form != "" && this.user.validated != true) {
              getJSON("/validateuserform", async (err, data) => {
                this.form = data;
                this.formioRender = await Formio.createForm(document.getElementById('formio'), this.form.schema,
                  {
                    breadcrumbSettings: { clickable: true },
                    buttonSettings: { showCancel: false }
                  });
                this.formioRender.submission = { data: this.user };
                this.formioRender.on('submit', async submission => {
                  console.debug('onsubmit', submission);
                  postJSON("/validateuserform", submission, (err, data) => {
                    location.reload();
                  })
                });
                if (!$scope.$$phase) { $scope.$apply(); }
              });
            }
          });
        }
      } else {
        getJSON("/loginproviders", this.process.bind(this));
      }
      if (!$scope.$$phase) { $scope.$apply(); }
    };
    this.config = function (error, data) {
      this.allow_user_registration = data.allow_user_registration;
      this.validate_user_form = data.validate_user_form
      if (!$scope.$$phase) { $scope.$apply(); }
    };

    getJSON("/user", async (err, data) => {
      if (err) console.error(err);
      if (data._id) {
        this.user = data;
        this.jwt.bind(this)(null, null);
      }
      getJSON("/loginproviders", this.process.bind(this));
    });


    getJSON("/config", this.config.bind(this));

  }
  angular.module('controllerExample', [])
    .controller('SettingsController2', SettingsController2);
  SettingsController2.$inject = ['$scope', '$http'];
</script>

<body ng-app="controllerExample">

  <div ng-controller="SettingsController2 as ctrl">
    <div class="row" ng-show="ctrl.user == null">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h5 class="card-title text-center"><span translate lib="web">signin</span> {{ctrl.domain}}</h5>
            </h5>
            <form class="form-signin" ngNoForm method='post' action='/local'>
              <div class="form-label-group" ng-show="ctrl.localenabled">
                <input type="text" name="username" ng-model="ctrl.username" class="form-control" placeholder="email"
                  required autofocus autocomplete='off'>
                <label for="username" translate lib="web">email</label>
              </div>
              <div class="form-label-group" ng-show="ctrl.localenabled">
                <input type="password" name="password" ng-model="ctrl.password" class="form-control"
                  placeholder="Password" required autocomplete="current-password">
                <label for="password" translate lib="web">password</label>
              </div>
              <div class="mb-3">

                <label class="text-danger">{{ctrl.message}}</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-show="ctrl.localenabled"
                translate lib="web">signin</button>
              <hr class="my-4" ng-show="ctrl.localenabled">

              <a ng-href="/{{model.id}}" ng-repeat="model in ctrl.providers track by $index"
                class="btn btn-lg btn-block text-uppercase">
                <em class="fab {{model.logo}}"></em><span translate lib="web">{{model.name}}</span>
              </a>

              <div class="card-body" ng-show="ctrl.allow_user_registration==true">
                <small><em>
                    Select a provider or login using a local username and password.
                    A new user will automaticly be created if username is unknown.
                    Email validation will be requered to use the core functions.</em></small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="ctrl.user != null">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <div ng-show="ctrl.form==null">Hello {{ctrl.user.name}}<br></div>

            <div id='formio' ng-show="ctrl.form!=null">
            </div>
            <a tabindex="-1" ng-href="/Signout" class="btn btn-lg btn-block text-uppercase">
              <em class="fas fa-sign-out-alt"></em>
              Singout
            </a>


          </div>
        </div>
      </div>

    </div>
  </div>
</body>