<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<script>
  function getCookieValue(a) {
    var b = document.cookie.match('(^|[^;]+)\\s*' + a + '\\s*=\\s*([^;]+)');
    return b ? b.pop() : '';
  }
  function parse_query_string(query) {
    var vars = query.split("&");
    var query_string = {};
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      var key = decodeURIComponent(pair[0]);
      var value = decodeURIComponent(pair[1]);
      // If first entry with this name
      if (typeof query_string[key] === "undefined") {
        query_string[key] = decodeURIComponent(value);
        // If second entry with this name
      } else if (typeof query_string[key] === "string") {
        var arr = [query_string[key], decodeURIComponent(value)];
        query_string[key] = arr;
        // If third or later entry with this name
      } else {
        query_string[key].push(decodeURIComponent(value));
      }
    }
    return query_string;
  }
  function getJSON(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url, true);
    xhr.responseType = "json";
    xhr.onload = function () {
      var status = xhr.status;
      if (status === 200) {
        var data = xhr.response;
        if (typeof data === "string" || data instanceof String) {
          data = JSON.parse(data);
        }
        callback(null, data);
      } else {
        callback(status, xhr.response);
      }
    };
    xhr.send();
  }

  function SettingsController2($scope, $http) {
    this.user = null;
    this.name = 'John Smith';
    this.message = '';
    // this.domain = "Donald duck";
    this.localenabled = false;
    this.domain = window.location.hostname;
    var cerror = getCookieValue("error");

    // var url_string = window.location.href;
    // var url = new URL(url_string);
    // var cerror = url.searchParams.get("error");

    var query = window.location.search.substring(1);
    var qs = parse_query_string(query);
    var cerror = qs.error;
    if (cerror !== null && cerror !== undefined && cerror != "") {
      this.message = "Unknown user or bad password";
    }
    this.process = function (error, data) {
      this.providers = data;
      for (var i = this.providers.length - 1; i >= 0; i--) {
        if (this.providers[i].provider == "local") {
          this.providers.splice(i, 1);
          this.localenabled = true;
        }
      }
      if (!$scope.$$phase) { $scope.$apply(); }
    };
    this.jwt = function (error, data) {
      if (data.user) {
        this.user = data.user;
      } else {
        getJSON("/loginproviders", this.process.bind(this));
      }
      if (!$scope.$$phase) { $scope.$apply(); }
    };
    this.config = function (error, data) {
      this.allow_user_registration = data.allow_user_registration;
      this.allow_user_registration = true;
      if (!$scope.$$phase) { $scope.$apply(); }
    };

    getJSON("/jwt", this.jwt.bind(this));

    getJSON("/jwt", this.config.bind(this));

  }
  angular.module('controllerExample', [])
    .controller('SettingsController2', SettingsController2);
  SettingsController2.$inject = ['$scope', '$http'];
</script>

<body ng-app="controllerExample">

  <div ng-controller="SettingsController2 as ctrl">
    <div class="row" ng-show="ctrl.user == null">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h5 class="card-title text-center"><span translate lib="web">signin</span> {{ctrl.domain}}</h5>
            </h5>
            <form class="form-signin" ngNoForm method='post' action='/local'>
              <div class="form-label-group" ng-show="ctrl.localenabled">
                <input type="text" name="username" ng-model="ctrl.username" class="form-control" placeholder="email"
                  required autofocus autocomplete='off'>
                <label for="username" translate lib="web">email</label>
              </div>
              <div class="form-label-group" ng-show="ctrl.localenabled">
                <input type="password" name="password" ng-model="ctrl.password" class="form-control"
                  placeholder="Password" required autocomplete="current-password">
                <label for="password" translate lib="web">password</label>
              </div>
              <div class="mb-3">

                <label class="text-danger">{{ctrl.message}}</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" ng-show="ctrl.localenabled"
                translate lib="web">signin</button>
              <hr class="my-4" ng-show="ctrl.localenabled">

              <a ng-href="/{{model.id}}" ng-repeat="model in ctrl.providers track by $index"
                class="btn btn-lg btn-block text-uppercase">
                <i class="fab {{model.logo}}"></i><span translate lib="web">{{model.name}}</span>
              </a>

              <div class="card-body" ng-show="ctrl.allow_user_registration==true">
                <small><i>
                    Select a provider or login using a local username and password.
                    A new user will automaticly be created if username is unknown.
                    Email validation will be requered to use the core functions.</i></small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="ctrl.user != null">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            Hello {{ctrl.user.name}}<br>
            <a ng-href="/Signout" class="btn btn-lg btn-block text-uppercase">
              <i class="fas fa-sign-out-alt"></i>
              Singout
            </a>


          </div>
        </div>
      </div>

    </div>
  </div>
</body>