<div class="starter-template">
  <h1 translate lib="web">Providers</h1>
</div>
<div class="col-sm-12 text-right">
  <a href="#/Provider" class="btn btn-info" translate lib="web">addprovider</a>
</div>
<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th ng-click="ctrl.ToggleOrder('name')"><b translate lib="web">name</b></th>
      <th ng-click="ctrl.ToggleOrder('_created')"><b translate lib="web">created</b></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td>{{model.name}}</td>
      <td>
        <timesince ng-model="model._created" />
      </td>
      <td class="btn-cell">
        <a ng-href="#/Provider/{{model._id}}" translate lib="web">edit</a>
      </td>
      <td class="btn-cell">
        <a href ng-click="ctrl.DeleteOne(model)" ng-disabled="ctrl.loading==true" translate lib="web">delete</a>
      </td>
    </tr>
  </tbody>
</table>