<a ng-disabled="ctrl.loading==true" type="button" class="btn btn-success" ng-href="#/Sockets">Sockets</a>
<button ng-click="ctrl.DumpRabbitmq()" ng-disabled="ctrl.loading==true" type="button" class="btn btn-success ">Dump
  Rabbitmq</button>
<button ng-click="ctrl.loadData()" ng-disabled="ctrl.loading==true" type="button"
  class="btn btn-success ">Reload</button>

<table id=" table1" class="table table-striped table-hover table-sm" when-scrolled="ctrl.more()" style="width: 100%;">
  <caption>queues</caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col" ng-click="ctrl.ToggleOrder('name')"><strong translate lib="web">name</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_type')"><strong translate lib="web">type</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('consumers')"><strong translate lib="web">consumers</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('queuename')"><strong translate lib="web">queuename</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_modified')"><strong translate lib="web">updated</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td><a ng-href="#/Queue/{{model._id}}">{{model.name}}</a></td>
      <td><span translate lib="web">{{model.type || model._type}}</span></td>
      <td>{{model.consumers}}</td>
      <td>{{model.queuename}}</td>
      <td>
        <timesince ng-model="model._modified" />
      </td>
    </tr>
  </tbody>
</table>