<!-- <div class="row">
  <h1 translate lib="web">roles</h1>
</div> -->
<div class="col-sm-12 text-right">
  <em class="fas fa-cog fa-spin" ng-show="ctrl.loading==true"></em>
  <input type="checkbox" id="checkbox-1" ng-model="ctrl.skipcustomerfilter" ng-change="ctrl.Search()"
    ng-show="menuctrl.WebSocketClientService.multi_tenant">
  <label for="checkbox-1" ng-show="menuctrl.WebSocketClientService.multi_tenant"><span translate lib="web">showall</span></label>
  <a href="#/Role" class="btn" translate lib="web">addrole</a>
</div>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th ng-click="ctrl.ToggleOrder('name')"><strong translate lib="web">name</strong></th>
      <th class="w-150" ng-click="ctrl.ToggleOrder('_created')"><strong translate lib="web">created</strong></th>
      <th class="w-150"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td><a style="color: inherit; text-decoration: inherit;" ng-href="#/Role/{{model._id}}">{{model.name}}</a></td>
      <td>
        <timesince ng-model="model._created" />
      </td>
      <td>
        <a class="btn" ng-href="#/Role/{{model._id}}"><em class="fas fa-edit"></em></a>
        <a class="btn" href ng-click="ctrl.DeleteOne(model)" ng-disabled="ctrl.loading==true"><em
            class="fas fa-trash"></em></a>
      </td>
    </tr>
  </tbody>
</table>