<div class="row">
  <h1 translate lib="web">roles</h1>
  <p class="col-md-5 lead"></p>
  <div class="form-group col-sm-3 form-horizontal">
    <label class="sr-only">Filter</label>
    <div class="input-group unframed-addons">
      <div class="input-group-addon"><i class="fas fa-search"></i></div>
      <input ng-model="ctrl.searchstring" ng-change="ctrl.Search()" class="form-control input-md"
        ng-model-options="{debounce: 400}" />
    </div>
  </div>
</div>
<div class="col-sm-12 text-right">
  <a href="#/Role" class="btn btn-info" translate lib="web">addrole</a>
</div>
<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th ng-click="ctrl.ToggleOrder('name')"><b translate lib="web">name</b></th>
      <th ng-click="ctrl.ToggleOrder('_created')"><b translate lib="web">created</b></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td>{{model.name}}</td>
      <td>
        <timesince ng-model="model._created" />
      </td>
      <td class="btn-cell">
        <a ng-href="#/Role/{{model._id}}"><i class="az-edit"></i></a>
      </td>
      <td class="btn-cell">
        <a href ng-click="ctrl.DeleteOne(model)" ng-disabled="ctrl.loading==true"><i class="az-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>