<div class="row">
    <div class="col-sm-20">
        <h1 class="pagetitle">{{ctrl.model.name}}</h1>
    </div>
</div>
<form ng-submit="ctrl.submit()" class="form-horizontal" role="form" autocomplete="off" ng-hide="ctrl.showjson==true">
    <section>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span translate lib="web">Robot</span>
            </label>
            <div class="col-sm-9">
                <select ng-model="ctrl.user" ng-options="item as item.name for item in ctrl.users">
                </select>
            </div>
        </div>
    </section>
    <section ng-repeat="model in ctrl.model.Parameters">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span translate lib="web">{{ model.name }}</span> ({{ model.type }}):
            </label>
            <div class="col-sm-9">
                <input ng-model="ctrl.arguments[model.name]" class="form-control input-md"
                    ng-disabled="ctrl.loading==true" />
            </div>
        </div>
    </section>
    <div>
        <label for="state">Timeout</label>
        <div class="form-row row-eq-spacing-md">
            <div class="col-md-3">
                <input ng-model="ctrl.timeout" class="form-control input-md" ng-disabled="ctrl.loading==true" />
            </div>
            <div class="col-md-9">
                <button type="submit" ng-disabled="ctrl.loading==true" class="btn btn-success"><em
                        class="fas fa-play-circle"></em></button>
            </div>
        </div>
    </div>

</form>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>

<pre ng-show="ctrl.messages!=''" class=" alert alert-primary" role="alert">{{ ctrl.messages }}</pre>