<a ng-disabled="ctrl.loading==true" type="button" class="btn btn-success" ng-href="#/Queues">Queues</a>
<button ng-click="ctrl.DumpClients()" ng-disabled="ctrl.loading==true" type="button" class="btn btn-success ">Dump
  Clients</button>
<button ng-click="ctrl.loadData()" ng-disabled="ctrl.loading==true" type="button"
  class="btn btn-success ">Reload</button>

<table id=" table1" class="table table-striped table-hover table-sm" when-scrolled="ctrl.more()" style="width: 100%;">
  <caption></caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col" ng-click="ctrl.ToggleOrder('name')"><strong translate lib="web">name</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('clientagent')"><strong translate lib="web">clientagent</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('queues')"><strong translate lib="web">queues</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('remoteip')"><strong translate lib="web">remoteip</strong></th>
      <th scope="col" ng-click="ctrl.ToggleOrder('lastheartbeat')"><strong translate lib="web">lastheartbeat</strong>
      </th>
      <th scope="col" ng-click="ctrl.ToggleOrder('_modified')"><strong translate lib="web">updated</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td>{{model.name}}</td>
      <td>{{model.clientagent}}</td>
      <td>{{model.queuescount}} </td>
      <td>{{model.remoteip}} </td>
      <td>
        <timesince ng-model="model.lastheartbeat" />
      </td>
      <td>
        <timesince ng-model="model._modified" />
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>