<div class="starter-template">
  <h1 translate lib="web">sockets</h1>
</div>


<form ng-submit="ctrl.submit()" class="form-horizontal" role="form" autocomplete="off" ng-hide="ctrl.showjson==true">
  <section>
    <div class="form-group">
      <label class="col-sm-3 control-label">queuename:</label>
      <div class="col-sm-9">
        <input ng-model="ctrl.queuename" class="form-control input-md" ng-disabled="ctrl.loading==true" />
      </div>
    </div>
  </section>
  <section>
    <div class="form-group">
      <label class="col-sm-3 control-label">message:</label>
      <div class="col-sm-9">
        <input ng-model="ctrl.message" class="form-control input-md" ng-disabled="ctrl.loading==true" />
      </div>
    </div>
  </section>
  <section>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" ng-disabled="ctrl.loading==true" class="btn btn-secondary" translate
          lib="web">save</button>
      </div>
    </div>
  </section>
  <section>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-secondary" ng-click="ctrl.EnsureNoderedInstance()">Ensure</button>
        <button type="button" class="btn btn-secondary" ng-click="ctrl.DeleteNoderedInstance()">Delete</button>
      </div>
    </div>
  </section>
</form>

<pre>{{ ctrl.messages }}</pre>