<div class="starter-template">
  <h1 translate lib="web">sitename</h1>
  <p class="lead">Clicking InsertMany laods 50 random items into entities colllection, DeleteMany deletes all,
    one-by-one</p>
</div>

<input type="button" value="insertone" ng-click="ctrl.InsertNew()" class="btn btn-secondary"
  ng-disabled="ctrl.loading==true" translate lib="web" />
<input type="button" value="InsertMany" ng-click="ctrl.InsertMany()" class="btn btn-secondary"
  ng-disabled="ctrl.loading==true" translate lib="web" />
<input type="button" value="DeleteMany" ng-click="ctrl.DeleteMany()" class="btn btn-secondary"
  ng-disabled="ctrl.loading==true" translate lib="web" />
<div id="dvMessage" ng-model="ctrl.message"> </div>
<br />
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<pre>{{ ctrl.messages }}</pre>



<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th><strong translate lib="web">createdby</strong></th>
      <th><strong translate lib="web">name</strong></th>
      <th><strong translate lib="web">created</strong></th>
      <th><strong translate lib="web">updated</strong></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td>{{model._createdby}}</td>
      <td>{{model.name}}</td>
      <td>
        <timesince ng-model="model._created" />
      </td>
      <td>
        <timesince ng-model="model._modified" />
      </td>
      <td class="btn-cell">
        <a href ng-click="ctrl.UpdateOne(model)" ng-disabled="ctrl.loading==true" translate lib="web">Update</a>
        <!-- <input type="button" value="Update" -->
      </td>
      <td class="btn-cell">
        <a href ng-click="ctrl.DeleteOne(model)" ng-disabled="ctrl.loading==true" translate lib="web">Delete</a>
        <!-- 
          <input type="button" value="Delete" ng-click="ctrl.DeleteOne(model)" ng-disabled="ctrl.loading==true" />
          -->
      </td>

    </tr>
  </tbody>
</table>