<div class="starter-template">
  <h1>Users</h1>
</div>
<div class="col-sm-12 text-right">
  <a href="#/User" class="btn btn-info" translate lib="web">Adduser</a>
</div>
<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th ng-click="ctrl.ToggleOrder('name')"><b translate lib="web">name</b></th>
      <th ng-click="ctrl.ToggleOrder('username')"><b translate lib="web">username</b></th>
      <th ng-click="ctrl.ToggleOrder('_created')"><b translate lib="web">created</b></th>
      <th ng-click="ctrl.ToggleOrder('lastseen')"><b translate lib="web">lastseen</b></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td>{{model.name}}</td>
      <td>{{model.username}}</td>
      <td>
        <timesince ng-model="model._created" />
      </td>
      <td>
        <timesince ng-model="model.lastseen" />
      </td>
      <!-- <td class="btn-cell" height="40px" width="200">
        <canvas id="bar" class="model.chart-base" chart-type="model.chart.charttype" chart-data="model.chart.data"
          chart-labels="model.chart.labels" chart-series="model.chart.series" height="40px" width="200">
        </canvas>
      </td> -->
      <td class="btn-cell">
        <a ng-href ng-click="ctrl.Impersonate(model)" ng-show="model._id != ctrl.WebSocketClient.user._id"><i
            class="fas fa-user-secret"></i></a>
      </td>
      <td class="btn-cell">
        <a ng-href="#/User/{{model._id}}"><i class="az-edit"></i></a>
      </td>
      <td class="btn-cell">
        <a href ng-click="ctrl.DeleteOne(model)" ng-disabled="ctrl.loading==true"><i class="az-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>