<style type="text/css">
  .nonmultitenant {
    /* width: 130px; */
    white-space:nowrap
  }
  .multitenant {
    /* width: 245px; */
    white-space:nowrap
  }
  .validated {
    /* width: 20px; */
    white-space:nowrap
  }
  .dbusage {
    /* width: 80px; */
    white-space:nowrap
  }
</style>
<div id="title" class="row">
  <h1 translate lib="web">users</h1>
</div>

<div class="col-sm-12 text-right">
  <em class="fas fa-cog fa-spin" ng-show="ctrl.loading==true"></em>
  <input type="checkbox" id="checkbox-1" ng-model="ctrl.skipcustomerfilter" ng-change="ctrl.Search()"
    ng-show="menuctrl.WebSocketClientService.multi_tenant">
    <a href ng-click="ctrl.loadData()" class="btn btn-info" translate lib="web">reload</a>
    <a href ng-click="ctrl.DumpClients()" class="btn btn-info" translate lib="web">Dump</a>
</div>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<table id="table1" class="table table-striped" when-scrolled="ctrl.more()" style="width: 100%;">
  <thead class="thead-dark">
    <tr>
      <th ng-click="ctrl.ToggleOrder('username')"><strong translate lib="web">username</strong></th>
      <th ng-click="ctrl.ToggleOrder('id')"><strong translate lib="web">id</strong></th>
      <th ng-click="ctrl.ToggleOrder('api')"><strong translate lib="web">api</strong></th>
      <th ng-click="ctrl.ToggleOrder('clientagent')"><strong translate lib="web">agent</strong></th>
      <th ng-click="ctrl.ToggleOrder('created')"><strong translate lib="web">created</strong></th>
      <th ng-click="ctrl.ToggleOrder('lastheartbeat')"><strong translate lib="web">heartbeat</strong></th>
      <th ng-click="ctrl.ToggleOrder('remoteip')"><strong translate lib="web">ip</strong></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="model in ctrl.models">
      <td class="text-truncate">{{model.username}}</td>
      <td class="text-truncate">{{model.id}}</td>
      <td class="text-truncate">{{model.api}}</td>
      <td class="text-truncate">{{model.clientagent}}</td>
      <td>
        <timesince ng-model="model.created" />
      </td>
      <td>
        <timesince ng-model="model.lastheartbeat" />
      </td>
      <td class="text-truncate"><a ng-href="https://www.iplocation.net/?query={{model.remoteip}}" target="_blank">{{model.remoteip}}</a></td>
      <td>
        <a href ng-click="ctrl.KillClient(model.id)" class="btn" ng-disabled="ctrl.loading==true"><em
            class="fas fa-trash"></em></a>
      </td>
    </tr>
  </tbody>
</table>


